mat-toolbar {
  margin-top: 1rem;
  position: fixed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-left: 1rem;
  vertical-align: middle;
  text-align: center;
  line-height: 90px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}
