.header {
  z-index: 2;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),  0 6px 20px 0 rgba(0,0,0,0.19);
  height: 75px;
  line-height: 75px;
}

.header a img {
  top: -15px;
  margin: 0;
}

nav {
  position: absolute;
  right: 20px;
  top: -15px;
  height: 75px;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

nav ul li :hover {
  border-bottom: 1px solid black;
}

@media (max-width: 599px) {
  .header {
    width: 100%;
  }

  img {
    width: 80%;
    padding-left: 3%;
  }

  nav {
    width: 100%;
    top: 75px;
  }

  nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }

  nav ul {
    background: white;
    width: 100%;
    margin: 0px;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-bottom: 1px solid black;
  }
}
